*.user
*.suo
*.Cache
/bin
/logs
/setup/*/bin
/setup/*/obj
/setup/bin
/setup/obj
/src/bin
/src/obj
/packages
/src/ScottLerch.snk
/src/ScottLerch.pfx
/.vs
*.nupkg


Designer/obj
Designer/obj/**
Designer/DesignerProject.sln
Designer/.vs/**
Designer/.vs
Designer/bin
Designer/bin/**